.menu {
    /*defining css for the menu class which will be used by all menus*/
    width: 30%;
    /* sets the width of the menu*/
    padding:1em 2em;
    background-color:white;
    border-radius:10%;
}
#main{
}
.menu ul {
    list-style-type: none;
    /*to disable the bullets that appear in lists*/
    padding-left: 0px;
    /*to disable list paddings on the left side*/

}


.menu ul li .link,
.sublink {
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: max-content;

}

.sublink {
    margin-left: 10px;
}

.menu ul li .link,
.sublink {
    text-decoration: none;
    color: black;
    display: block;
    text-align: start;
}

.menu ul li .link:hover,
.sublink:hover {
    background-color: #ba0c2f;
    background-size: cover;
    color: beige;
    /*this is to highlight the element when you move/hover your mouse over it*/
}
.sublinkSelected:hover{
    color:beige;
}


.detailMain {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}
.detailMainSocial{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}

#subMenu {
    display: inline;
}

.display {
    width: 60%;
    line-height: 2;
    margin: 1em 2em;
}
.sublinkSelected {
    color:#ba0c2f;
}


.expandButton {
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    position: fixed;
    padding: 10px 20px;
    bottom: 1em;
    right:0;
    background-color: white;
    color: #999;
    width:fit-content;
    z-index:9;
    border-radius: 40px;
}
.detailMain img{
    max-width: 50vw;
}

@media screen and (max-width:600px) {
    .detailMain {
        display: block;
        width: 100%;
    }
    .detailMainSocial{
        display: block;
        width: 100%;
        margin: 2em 0;
    }

    .display {
        width: 80%;
    }

    #main{
        border: none
    }
    .detailMain img{
        max-width: 90vw;
    }
}