.detailMain {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}



.display {
    width: 50%;
    line-height: 2;
    margin: 1em 2em;
    overflow-wrap: break-word;
}

.sublinkSelected {
    color: #ba0c2f;
}

.contentMain {
    max-width: 60%;
}

.contentMain img {
    max-width: 100px;
}

.recListMain{
    max-width: 25%;
    top:0;
    position:sticky;
    align-self: flex-start;
    z-index: 1;
    padding: 10px;
    overflow-y: auto;
    padding: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.cardBody{
    z-index: 3;
    font-weight:bold;
    display: inline;
    background-color: white;
}

span {
    display: inline-flex;
    /* Make the span an inline block */
    max-width: 100%;
    /* Limit the span's width to the container's width */
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide any content that overflows the span */
    text-overflow: ellipsis;
}
.cardImg{
    height: 20vh;
    width: 20vw;
    transition: transform 0.3s; /* Add smooth transition effect */
}
.card{
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover .cardImg {
    transform: scale(1.2); /* Apply zoom to the image on card hover */
  }

.card:hover{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
}


.moreHeader {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--theme-color), 50%, transparent 50%) 100% 1;
    width: max-content;

}




@media screen and (max-width:600px) {
    .detailMain {
        display: block;
        margin: 2em auto;
    }

    .detailMainSocial {
        display: block;
        width: 100%;
        margin: 2em 0;
    }

    .contentMain {
        max-width: 100%;
    }

    .display {
        width: 100%;
        margin: auto;
    }

    #main {
        border: none
    }
    .recListMain{
        max-width: 100%;
        margin:0
    }
    .cardImg{
        height: auto;
        width: auto;
    }
}